.row {
  margin-bottom: 10px;
  mat-card {
    margin-top: 10px;


    img {
      max-height: 300px;
      object-fit: contain;
    }

    button {
      width: 100%;
    }

    .harvest-title{
      display: flex;
      align-items: center;
      img {
        margin-left: 4px;
        max-height: 15px;
        object-fit: contain;
      }
    }
  }
}
.budz {
  max-height: 16px !important;
  object-fit: contain !important;
}
.top-card {
  margin-left: -10px;
  margin-right: -10px;
  img {
    max-height: 24px;
    margin-left: 4px;
    object-fit: contain;
  }
}

.budz-container {
  display: flex;
  align-items: center;
  img {
    margin-left: 4px;
    max-width: 24px;
    object-fit: contain;

  }

}
.hidden {
  visibility: hidden;
}
