<section class="container">
    <div class="row pt-3 pb-3">
      <div class="col-12">
        <h1 class="text-center permanent-marker pt-5">Community Driven</h1>
        <h2 class="text-center permanent-marker pt-4"> Backed by CareBuds Finance</h2>
      </div>
    </div>
    <div class="row q4 justify-content-between">
      <div class="col-12 col-md-6">
        <img src="assets/mrniach.png" class="avatar">
        <div class="row justify-content-center align-items-center pt-2">
          <div class="col-auto">
            <iframe class="embed-responsive" id="webroundbuttonwidget1" file="webroundbuttonwidget" src="https://telegrambutton.com/webroundbuttonwidget.php?chat_id=mrniach&showchatid=true&showmembercount=true&showmembercount=true&color=&pulse=false&textcolor=white&shadowval=z-depth-1&textval=join channel" border="1" style="margin-top:10px;border:20px;height: 60px;width: 60px;"></iframe>

          </div>
          <div class="col-auto">
            <h2 class="permanent-marker"><div>Danny</div> <small class="text-muted">Lead Dev</small>&nbsp;<small class="text-muted">@mrniach</small></h2>

          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 pt-5 pt-md-0">
        <img src="assets/DerekCareBuds.png" class="avatar">
        <div class="row justify-content-center align-items-center pt-2">
          <div class="col-auto">
            <iframe class="embed-responsive" id="webroundbuttonwidget2" file="webroundbuttonwidget" src="https://telegrambutton.com/webroundbuttonwidget.php?chat_id=derekryansnzy&showchatid=true&showmembercount=true&showmembercount=true&color=&pulse=false&textcolor=white&shadowval=z-depth-1&textval=join channel" border="1" style="margin-top:10px;border:20px;height: 60px;width: 60px;"></iframe>
          </div>
          <div class="col-auto">
            <h2 class="permanent-marker"><div>Derek Ryans</div> <small class="text-muted">Chief of CareBuds</small></h2>

          </div>
        </div>
      </div>
    </div>

</section>
