<section class="container-fluid">
    <h1 *ngIf="myTrades.length > 0">My Listings</h1>
    <div class="row px-1">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-1" *ngFor="let trade of myTrades">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{trade.nft?.metadata?.name}}</mat-card-title>
            <mat-card-subtitle class="harvest-title">
              <span>On Sale for {{(+trade.strainzTokenPrice / 10000) | number:'1.0-4'}}</span>
              <img src="assets/budz.png" class="budz"/>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>

            <img class="mt-2" mat-card-image src="{{trade.nft?.metadata?.image}}" alt="Strain image">


            <button [disabled]="cancelingId" (click)="cancelTrade(trade)" class="cancel-button" mat-raised-button
                    color="accent">
              <span *ngIf="cancelingId !== trade._id">Cancel Listing</span>
              <span *ngIf="cancelingId === trade._id">Canceling..</span>
            </button>
          </mat-card-content>

        </mat-card>
      </div>

    </div>

  <h1>NFTs Available to Buy</h1>
  <div class="row px-1">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3 px-1" *ngFor="let trade of openTrades.slice().reverse()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{trade.nft.metadata.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img class="mt-2" mat-card-image src="{{trade.nft.metadata.image}}" alt="Strain image">


          <button [disabled]="approvingId || buyingId" (click)="buyTrade(trade)" class="buy-button" mat-raised-button
                  color="accent">
            <span *ngIf="approvingId !== trade._id && buyingId !== trade._id">Buy for
              {{(+trade.strainzTokenPrice / 10000) | number:'1.0-4'}} <img
              class="budz" src="assets/budz.png"/></span>
            <span *ngIf="approvingId === trade._id">Approving..</span>
            <span *ngIf="buyingId === trade._id">Buying..</span>
          </button>

        </mat-card-content>

      </mat-card>
    </div>


  </div>
  <h1>Last Trades</h1>
  <mat-action-list *ngIf="lastTrades.length > 0">
    <mat-list-item *ngFor="let trade of lastTrades.slice().reverse()">
      <img matListAvatar src="{{trade.nft.metadata.image}}" alt="Strain image">
      <h3 matLine>{{trade.nft.metadata.name}}</h3>
      <p matLine>
        <span> </span>
        <span class="demo-2">
          <app-blockie [address]="trade.poster"></app-blockie>
          <mat-icon>arrow_right_alt</mat-icon>
          <app-blockie [address]="trade.buyer"></app-blockie>
          for {{(+trade.strainzTokenPrice / 10000) | number:'1.0-4'}}
          <img class="budz" src="assets/budz.png">
 </span>
      </p>
    </mat-list-item>

  </mat-action-list>


</section>
