<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center permanent-marker pt-5">Strainz Development Roadmap</h1>
      </div>
    </div>
    <div class="row ">
      <div class="col-12 huge permanent-marker text-center position-relative">
        Q2 2021
        <div class="roadmap-text text-center w-100 ">
          <div>Marketplace Listings of selected Projects</div>
          <div>Marketplace enhancements (Auctioning, Offers)</div>
        </div>
      </div>
    </div>
    <div class="row q3">
      <div class="col-12 huge permanent-marker text-center position-relative">
        Q3 2021
        <div class="roadmap-text text-center w-100 ">
          <div>New UI, Android/iOS Apps</div>
          <div>Launch on multiple chains</div>
        </div>
      </div>
    </div>
    <div class="row pt-5 q4">
      <div class="col-12 huge permanent-marker text-center position-relative">
        Q4 2021
        <div class="roadmap-text text-center w-100 mb-5">
          <div>Cross-Chain Marketplace (Layer 2)</div>
        </div>
      </div>
    </div>






  </div>
</section>
