<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center permanent-marker pt-5">Strainz Development Roadmap</h1>
      </div>
    </div>
    <div class="row ">
      <div class="col-12 huge permanent-marker text-center position-relative">
        Q2 2021
        <div class="roadmap-text text-center w-100 ">
          <div>Strainz BEP20 Token and Strainz NFT Platform Launch</div>
          <div>Strainz V3 (Current Version)</div>
        </div>
      </div>
    </div>
    <div class="row q3">
      <div class="col-12 huge permanent-marker text-center position-relative">
        Q3 2021
        <div class="roadmap-text text-center w-100 ">
          <div>Merged with CareBuds Finance, Updated UI</div>
          <div>Limited Edition Accessories & NFTs</div>
          <div>Community Events & Lotteries</div>
          <div>Green House Initiative</div>
        </div>
      </div>
    </div>
    <div class="row q4">
      <div class="col-12 huge permanent-marker text-center position-relative">
        Q4 2021
        <div class="roadmap-text text-center w-100 mb-5">
          <div>CareBuds Galleries - Strainz Contests</div>
          <div>Auction Integrations in the Marketplace</div>
          <div>SmokeOut Buds - Donate a Plant </div>
          <div>Community Garden - Show Off Your Buds</div>
          <div>CareBuds Mystery Farm - Mint Limited Edition NFTs</div>
          <div>Strainz V4.2069</div>
        </div>
      </div>
    </div>






  </div>
</section>
