img {
  max-height: 300px;
  object-fit: contain;
}

.accessory {
  max-height: 128px;
}

mat-form-field {
  display: inline;
}
button {
  width: 100%;
}

.budz-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  img {
    margin-left: 4px;
    max-height: 24px;
    object-fit: contain;
  }
}

.cost-container {
  text-align: right;
}

