mat-card {
  margin-top: 10px;


  img:not(.budz) {
    max-height: 300px;
    object-fit: contain;
  }
}
.strain-card {
  padding-left: 5px;
  padding-right: 5px;
  @media (min-width: 576px) {
    max-width: 390px;
  }
}
