<!-- Start of Strainz Hero Section -->
<section class="section-hero">
  <div class="row">
    <div class="col text-center">
      <h1 id="StrainzHeading" class="text-uppercase display-2">Strainz</h1>
      <h2 class="display-4">Yield Bearing NFTs</h2>
      <img src="/assets/StrainzHomepageHero.png" class="img-fluid" alt="...">
    </div>
  </div>


<!-- Start of Strainz Hero Section 2 -->
  <section class="section-hero-2 container px-4">

  <div class="row">
    <div class="col text-center">
      <h2 id="P2eHeading" class="text-uppercase">Harvest. Breed. Earn.</h2>
      <h3>
        Play to Earn Passive Income
        <small class="text-muted">What's Your Strategy?</small>
      </h3>
    </div>
  </div>

  <!-- Start of Strainz About Row with 3 Mat Cards -->
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-4 p-2">
      <mat-card class="card-about">
        <mat-card-header>
          <mat-card-title>
            Collectible NFTs
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image class="strain-img-home" src="assets/StrainzNFT.png" />
        <mat-card-content>
          <p class="mat-body-strong">All Strainz have unique DNA which translates to a specific appearance.</p>
          <div class="row">
              <ul>
                <li>Head</li>
                <li>Body</li>
                <li>Face</li>
                <li>Pot</li>
                <li>Color</li>
                <li>Accessories</li>
              </ul>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 p-2">
      <mat-card class="card-about">
        <mat-card-header>
          <mat-card-title>
            Harvest Strainz Tokens
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image class="strain-img-home" src="assets/harvest.png"/>
        <mat-card-content>
          <p>
            STRAINZ <img class="budz" src="assets/budz.png"/>
            is a BEP-20 Token, which means it can be traded freely on the Binance Smart Chain.
          </p>
          <p>They can also be used to buy Strainz NFT plants in the
            <a routerLink="/marketplace">marketplace</a>
            and are required for breeding.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 p-2">
      <mat-card class="card-about">
        <mat-card-header>
          <mat-card-title>
            Breed & Mint NFTs
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image class="strain-img-home" src="assets/breed.png" />
        <mat-card-content>
          <p>
            Each Strain has a <em>breeding cost</em>
            which you have to pay in order to breed
            two Strainz plants with each other.
          </p>
          <p>After breeding you get a new freshly
            minted Strain NFT plant, where its
            <em>growth rate</em> is
            dependent of its parents.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <!-- End of Strainz About Row with 3 Mat Cards -->

  <!-- Start of Strainz About Row-2 with 2 Mat Cards -->
  <div class="row">

    <div class="col-sm-12 col-md-6 col-lg-6 p-2">
      <mat-card class="card-about">
        <mat-card-header>
          <mat-card-title>
            Strainz Marketplace
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image class="strain-img-home" src="assets/StrainzMarketplace.png" />
        <mat-card-content>
          <p>In the marketplace you can trade Strainz NFT plants, or any other BEP721 NFT on Binance Smart Chain.</p>
          <p>Just head over to your <a href="/inventory" >wallet</a>, and begin selling your NFTs!</p>
          <p>10% of each trade gets burned, to incentivize <img class="budz" src="assets/budz.png"/>STRAINZ growers.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 p-2">
      <mat-card class="card-about">
        <mat-card-header>
          <mat-card-title>
            Strainz X CareBuds Finance
          </mat-card-title>
        </mat-card-header>
        <img mat-card-image class="strain-img-home" src="assets/StrainzCareBuds.png"/>
        <mat-card-content>
          <p>
            We're so excited to be a new addition to the CareBuds Finance company!
          </p>
          <p>420 Token from CareBuds will be soon added as a form of payment for
            exclusive cosmetic accessroies and ultra rare 1:1 limited edition NFTs!
            Visit <a href="https://carebuds.us">CareBuds Finance</a> to find out more
            about our new parent company.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <!-- End of Strainz About Row-2 with 2 Mat Cards -->


  </section>
</section>
