<section class="container-fluid">


  <div class="row">
    <div class="col text-center">
      <h1>Strainz - Yield bearing Non-fungible tokens</h1>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Collect
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="mat-body-strong">All Strainz have a unique DNA which translates to a specific appearance</p>
          <div class="row">
            <div class="col-6">
              <ul>
                <li>Head</li>
                <li>Body</li>
                <li>Face</li>
                <li>Pot</li>
                <li>Color</li>
                <li>Accessories</li>
              </ul>
            </div>
            <div class="col-6">
              <img class="strain-img" src="https://api.strainz.tech/image/7164000028003213" />
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row justify-content-end mb-3">
    <div class="col-12 col-md-6">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            Harvest
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="mat-body-strong">Over time, each Strain produces STRAINZ <img class="budz" src="assets/budz.png"/> depending on it's <em>Grow Rate</em></p>
          <div class="row">
            <div class="col-6">
              <img class="strain-img" src="assets/harvest.png" />


            </div>
            <div class="col-6">
              <p>STRAINZ <img class="budz" src="assets/budz.png"/> is an BEP-20 Token, which means it can be traded freely on the Binance Smart Chain.</p>
              <p>They can also be used to buy Strainz on the <a routerLink="/marketplace">marketplace</a> and are required for Breeding.</p>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <mat-card class="mb-3">
        <mat-card-header>
          <mat-card-title>
            Breed
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p class="mat-body-strong">Two Strainz can be breed together by <em>burning</em> a certain amount of STRAINZ <img class="budz" src="assets/budz.png"/> </p>

          <div class="row">
            <div class="col-6">
              <img class="strain-img" src="assets/breed.png" />

            </div>
            <div class="col-6">
              <p>Each Strain has a <em>Breeding Cost</em> which you have to pay in order to breed two Strainz with each other.</p>
              <p>After breeding you get a new freshly minted Strain, where it's <em>Grow Rate</em> is dependent of it's Parents.</p>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-card class="mb-5">
        <mat-card-header>
          <mat-card-title>
            Marketplace
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center">
              <p>On the marketplace you can trade Strainz, or any other BEP721 NFT on Binance Smart Chain.</p>
              <p>Just head over to your <a href="/inventory" >Wallet</a>, and begin selling your NFTs!</p>
              <p>10% of each trade gets burned, to incentivize <img class="budz" src="assets/budz.png"/>STRAINZ growers.</p>
            </div>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
