img {
  max-height: 300px;
  object-fit: contain;
}
mat-form-field {
  display: inline;
}
button {
  width: 100%;
}

.budz-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  img {
    margin-left: 4px;
    max-height: 24px;
    object-fit: contain;
  }
}

.cost-container {
  text-align: right;
}

.fertilizer-image {
  width: 64px;
  height: 64px;
}
.budz {
  max-height: 16px !important;
  object-fit: contain !important;
}

.rate-label {
  margin-top: -32px;
}
