<section class="container-fluid">

  <div *ngIf="(pagedPlants$ | async) as plants" class="row px-1">
    <div class="col-12 col-md-auto flex-grow-1 strain-card" *ngFor="let strain of plants">
      <app-strain-card [strain]="strain" [trade]="getTradeForPlant(strain)" [isPublic]="true" [approvedStrainzTokens]="approvedBudz"></app-strain-card>
    </div>


  </div>
</section>
<div class="paginator-container">
  <mat-paginator (page)="paging($event)"  [length]="strainAmount"
                 [pageSize]="50" [showFirstLastButtons]="true"
                 [pageSizeOptions]="[10, 25, 50, 100, 500]">
  </mat-paginator>
</div>
