<section class="container">
  <div class="row pt-5 text-center">
    <div class="col-12">
      <h1 class="permanent-marker">Frequently Asked Questions</h1>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title class="font-weight-bold">
              How do I buy Strainz?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Exchange BNB for STRAINZ <img src="assets/budz.png" class="budz"> tokens on <a href="https://exchange.pancakeswap.finance/#/swap?inputCurrency=BNB&outputCurrency=0x18fcd272fcbb41cf048c89695dfeb6a8d298beb1">PancakeSwap</a>.</p>
          <p>Check out our <a href="https://strainz-tech.gitbook.io/strainz/buy-your-first-plant">Tutorial</a> on how to get started!</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              How does the marketplace work?
            </mat-panel-title>

          </mat-expansion-panel-header>
          <ul>
            <li>Growers place their plants on the <a routerLink="/marketplace/strainz">marketplace</a> at a price they set and buyers have the option of purchasing the plant.</li>
            <li>The prices are entirely set by the selling grower</li>
            <li>There is an additional tax of 10% STRAINZ <img src="assets/budz.png" class="budz"> on the seller’s profits from sale, which are burned and encourage growers.</li>
          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Can I harvest my plants if they are on the marketplace?
            </mat-panel-title>

          </mat-expansion-panel-header>
          <ul>
            <li>No, you will need to take your plant off the market to harvest and water it.</li>
            <li>After this, you can list it again.</li>
          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              I don't see my plant listed in the marketplace or my wallet after listing it. Where is it?
            </mat-panel-title>

          </mat-expansion-panel-header>
          <p>This can happen if public Binance Smart Chain Nodes have issues, they will show up after some time!</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Can I delist my plant once it is on the marketplace?
            </mat-panel-title>

          </mat-expansion-panel-header>
          <ul>
            <li>Yes! Once the plant is on the <a routerLink="/marketplace/strainz">marketplace</a>, you can go to your wallet and delist it.</li>
            <li>This will incur a gas fee similar to listing it.</li>
          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Why is my grow rate lower than max rate?
            </mat-panel-title>

          </mat-expansion-panel-header>
          <ul>
            <li>Your grow rate will lower daily, as the plants need to be watered, or else grow rate will steadily decrease to a minimum of 10%.</li>
            <li>Watering plants will return the grow rate back to the max rate.</li>
            <li>When you harvest your crops, they will also be watered, with a small <img src="assets/budz.png" class="budz"> fee.</li>
            <li>STRAINZ <img src="assets/budz.png" class="budz"> tokens will be consumed based on how many plants are in your wallet to tax whales heavier.</li>
          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              If I breed two plants, what will the child's grow rate be?
            </mat-panel-title>

          </mat-expansion-panel-header>
          <ul>
            <li>Without Fertilizer: <em>((grow rate parent1 + grow rate parent2) / 2) - 37.95</em></li>
            <li>With Fertilizer: <em>((grow rate parent1 + grow rate parent2) / 2) + 15.1</em></li>
          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              What do accessories do?
            </mat-panel-title>

          </mat-expansion-panel-header>
          <ul>
            <li>Increase grow rate.</li>
            <li>Joints boost grow rate by 75.</li>
            <li>Sunglasses boost grow rate by 50.</li>
            <li>Earrings boost grow rate by 35.</li>
            <li>If both plant parents breed and have their accessories along with an average grow rate of 193 and breeding fertilizer is consumed at time of breeding, the child plant will have the accessory the parents had attached.
            </li>
            <li>You can buy them from the Accessory section of the <a routerLink="/marketplace/accessoires">marketplace</a></li>

          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              What does fertilizer do?
            </mat-panel-title>

          </mat-expansion-panel-header>
          <p>Fertilizer will increase a plants grow rate significantly for 7 days. You will need to burn SEEDZ <img src="assets/seedz.png" class="budz"> to buy it.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              What are SEEDZ?
            </mat-panel-title>

          </mat-expansion-panel-header>
          <ul>
            <li>SEEDZ <img src="assets/seedz.png" class="budz"> are STRAINZ <img src="assets/budz.png" class="budz"> cousins tokens, and can be used to buy fertilizer for plants (More use cases are planned!).</li>
            <li>They can be purchased at the on <a href="https://exchange.pancakeswap.finance/#/swap?inputCurrency=BNB&outputCurrency=0x789597a72aff54fadea196c13fa1011c2e3c2a1e">PancakeSwap</a>, but only with STRAINZ <img src="assets/budz.png" class="budz"></li>
            <li>You can also farm SEEDZ <img src="assets/seedz.png" class="budz"> with the STRAINZ/BNB or STRAINZ/SEEDZ <a routerLink="/stake">Farms</a></li>
          </ul>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Which step of the roadmap are we in?
            </mat-panel-title>

          </mat-expansion-panel-header>
          <ul>
            <li>Q2!</li>
            <li>We are working currently on improving the <a routerLink="/marketplace/strainz">marketplace</a> and adding filters/sorting options!</li>
          </ul>
        </mat-expansion-panel>

      </mat-accordion>

    </div>

  </div>





</section>
